
nav h1 {
  margin: 0;
}

.divider {
  height: 2px;
}

.nav-wrapper > ul {
  position: relative;
}

  #navbar-content {
    height: 75px;       /*min-height*/
    background-color: white;
    background-image: url('../assets/header/linea.png');
    background-position: bottom center;
    background-size: auto;
    background-repeat: repeat;
    position:fixed;
    top: 0;
    z-index: 997;
  }

  #logo {
    max-height: 75px;
  }

  #navbar-bordo {
      position: sticky;
      top: 0;
      width: 100%;
      height: 95px;
      background-image: url('../assets/header/base.png');
      background-position: center bottom;
      background-repeat: repeat-x;
      z-index: 900;
  }

  #navbar-content li a, #mobile-demo li a {
    font-weight: 500;
    font-size: 1.5rem;
    color: #1a237e;
  }

  #navbar-content #dropdown1 li a {
    font-weight: 500;
    font-size: 1.3rem;
    color: #1a237e;
  }

  nav ul a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF !important;
  }

  nav ul li.active, nav ul li.active a {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF !important;
    border-bottom: 2px solid #1a237e;
  }

  nav ul #dropdown1 a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #1a237e !important;
  }

  nav ul #dropdown1 li.active, nav ul #dropdown1 li.active a {
    background-color: rgba(0, 0, 0, 0);
    color: #1a237e !important;
    border-bottom: 2px solid #1a237e;
  }


  .sidenav > li.indented > a {
    padding-left: 48px;
  }

  main {
    margin-top: -25px;
  }

  .mobile-fab-tip {
	position: fixed;
	right: 85px;
	padding:0px 0.5rem;
	text-align: right;
	background-color: #323232;
	border-radius: 2px;
	color: #FFF;
	width:auto;
}

  section h2 {
  	color: #2962FF;
  }

  .fill-view {
    width: 100%;
    height: auto;
  }

  div.wrap-content {
  	display: inline-block;
  }

  div.wrap-content::after {
    content: "\A";
    white-space: pre;
  }

  .parallax {
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
  }

  .row .col {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  #foto-collage {
    height: 100vh;
    background-image: url('../assets/collage.jpg');
  }

  #img-benessere {
    height: 75vh;
    line-height: 75vh;
    background-image: url('../assets/index/prato.jpg');
  }

  #img-benessere h1 {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

  #footer-logo{
    max-height: 100px;
  }




  /* Body Style

  :root {
  	font-size: 1.05rem;
  }

  @media (min-width:576px) {
  	:root {
  		font-size: 1.1rem;
  	}
  }

  @media (min-width:768px) {
  	:root {
  		font-size: 1.2rem;
  	}
  }

  @media (min-width:992px) {
  	:root {
  		font-size: 1.3rem;
  	}
  }

  @media (min-width:1200px) {
  	:root {
  		font-size: 1.4rem;
  	}
  }

linear-gradient(to bottom, #001e96, #0040af, #005ec3, #007bd4, #0097e1, #00b2f3)

hr {
	border-top: 2px solid #0091EA;
	margin: 0% calc(40%  - 100px);
}

a, a:hover {
	text-decoration: none;
	color:inherit;
	pointer-events:all;
}

#footer-logo{
	max-height: 100px;
}

.footer-button {
	border-style: solid;
	border-width: 1px;
	border-radius: 0.75rem;
	border-color: gray;
	padding: 0.4rem 1rem 0.4rem 0;
	margin-top: 1rem;
}

footer .fab{
	padding: 0px 10px;
	width: auto;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

*/


.chipPROVA {
  display: inline-block;
  height: 56px;
  font-size: 18px;
  color: #FFFFFF;
  padding: 0px 12px;
  border-radius: 28px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.chipPROVA:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.chipPROVA > p {
  display: inline-block;
  margin-top: 14px;
  margin-left: 6px;
}

.chipPROVA > img {
  float: right;
  margin: 3px -10px 0 0px;
  width: 58px;

  border-radius: 50%;
}
